/* GENERAL 
-----------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #3b3b3b;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

h2 {
    font-family: 'Caveat', cursive;
    color: #3b3b3b;
    font-size: 46px;
    /* text-transform: uppercase; */
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

/* NAVBAR 
-----------------------------------------------------*/
.index-navbar,
.navbar {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.index-navbar ul,
.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.index-navbar ul li,
.navbar ul li {
    padding-left: 20px;
}

.index-navbar a {
    color: #f4f4f4;
    text-decoration: none;
}

.navbar a {
    color: #3b3b3b;
    opacity: .6;
    text-decoration: none;
}

/* RESUME 
-----------------------------------------------------*/
.info-grid---2-col {
    width: 100%;
    height: auto;
    max-width: none;
    flex-flow: row;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    position: relative;
}

/* FOOTER 
-----------------------------------------------------*/
.footer-wrap {
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 30px;
    display: flex;
    font-family: 'Open Sans', sans-serif;

}

.footer-wrap p {
    opacity: .6;
}

.footer-links {
    align-items: center;
    margin-right: -20px;
    display: flex;
}

.footer-item {
    opacity: .6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    list-style: none;
}

.footer-item a {
    color: #3b3b3b;
    text-decoration: none;
}